    <form method="get" action="{{ root_url }}" class="date-range">
      <div class="form-row">
        <label for="start">Start date</label>
        <input type="datepicker" name="start" value="{{ startDate | dateFormat('YYYY-MM-DD') }}" />
      </div>
      <div class="form-row">
        <label for="end">End date</label>
        <input type="datepicker" name="end" value="{{ endDate | dateFormat('YYYY-MM-DD') }}" />
      </div>
      <p class="submit">
        <button>Update</button>
      </p>
    </form>
    <div id="hits-graph"></div>
    <table id="hits-data">
      {% for day in pageHitsPerDay %}
        <tr class="hits-data-day">
          <td class="hits-data-date">{{ day.date }}</td>
          <td class="hits-data-hits">{{ day.hits }}</td>
        </tr>
      {% endfor %}
    </table>

