{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}

{% block navigation %}
  <li><a href="/site/">Site list</a></li>
{% endblock %}

{% block body %}
  Email: {{ email }}

  <section>
    <form method="post" action="/session">
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
      <button>Sign out</button>
    </form>
  </section>

  <section>
    <form method="post" action="/user/{{ email }}">
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
      <button>Delete my account</button>
    </form>
  </section>
{% endblock %}
