{% extends "layout.html" %}
{% block title %}{{ hostname }} info{% endblock %}

{% block header %}
  {{ hostname }} Demographics - {{ startDate }} to {{ endDate }}
{% endblock %}

{% block navigation %}
  {% include "partials/_hostname-nav.html" %}
{% endblock %}

{% block body %}

<section class="row">
  <article class="row-left half">
    <h2>Browser breakdown</h2>
    <div id="browsers-graph"></div>

    <table id="browsers-data">
      {% for browser, count in browsers %}
        <tr class="browsers-data-item">
          <td class="browsers-data-browser">{{ browser }}</td>
          <td class="browsers-data-count">{{ count }}</td>
        </tr>
      {% endfor %}
    </table>
  </article>

  <article class="row-right half">
    <h2>OS breakdown</h2>
    <div id="os-graph"></div>

    <table id="os-data">
      {% for name, count in os %}
        <tr class="os-data-item">
          <td class="os-data-name">{{ name }}</td>
          <td class="os-data-count">{{ count }}</td>
        </tr>
      {% endfor %}
    </table>
  </article>
</section>

<section class="row">
  <article class="row-center">
    <h2>Device type</h2>
    <div id="device-type-graph"></div>

    <table id="os-data-mobile">
      {% for name, count in os_form.mobile %}
        <tr class="os-data-item-mobile">
          <td class="os-data-name">{{ name }}</td>
          <td class="os-data-count">{{ count }}</td>
        </tr>
      {% endfor %}
    </table>

    <table id="os-data-desktop">
      {% for name, count in os_form.desktop %}
        <tr class="os-data-item-desktop">
          <td class="os-data-name">{{ name }}</td>
          <td class="os-data-count">{{ count }}</td>
        </tr>
      {% endfor %}
    </table>
  </article>
</section>

{% endblock %}


