{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block navigation %}
  {% if email %}
    <li><a href="/site/">Site list</a></li>
  {% endif %}
{% endblock %}


{% block body %}

<p>
  rum-diary is an open source analytics platform that provides site operators with the data necessary to make sound business decisions while still respecting visitor privacy.
</p>

<article>
<h2>Guiding principles:</h2>
<ul class="disc">
  <li>Site operators need visitor information to make good business decisions.</li>
  <li>Site visitors have a right to privacy. Visitors give the sites they visit a level of trust that is not automatically extended to third parties.</li>
  <li>Data should be collected about a user only when necessary.</li>
  <li>Visitors should know what data is collected, how that data is used, with whom it is shared, how long it is retained, and whether it can be deleted.</li>
  <li>Every effort should be made to minimize fingerprintability by collecting as little data as necessary and anonymizing and aggregating the data that is collected.</li>
</ul>
</article>


<p>
  <a href="/user">Sign in or sign up</a>
</p>
{% endblock %}


