{% extends "layout.html" %}
{% block title %}{{ hostname }} info{% endblock %}

{% block navigation %}
  {% include "partials/_hostname-nav.html" %}
{% endblock %}

{% block header %}
  {{ hostname }} - past 30 days
{% endblock %}

{% block headerjs %}
<script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/js/bower_components/metrics-graphics/dist/metricsgraphics.min.js"></script>
{% endblock %}

{% block body %}
  <!--form method="get" action="{{ root_url }}" class="date-range">
    <div class="form-row">
      <label for="start">Start date</label>
      <input type="datepicker" name="start" value="{{ startDate | dateFormat('YYYY-MM-DD') }}" />
    </div>
    <div class="form-row">
      <label for="end">End date</label>
      <input type="datepicker" name="end" value="{{ endDate | dateFormat('YYYY-MM-DD') }}" />
    </div>
    <p class="submit">
      <button>Update</button>
      <a href="/site/{{ hostname }}/" class="button">Reset</a>
    </p>
  </form-->
<section class="row">
  <article id="daily-hits" style="margin-bottom: 50px;">
    {% include "partials/_hits-graph.html" %}
  </article>

  <article id="overview">
    <ul class="overview">
      <li>
        <dt class="overview-name">Total</dt>
        <dd class="overview-stat">{{ hits.total }}</dd>
      </li>
      <li>
        <dt class="overview-name">Today</dt>
        <dd class="overview-stat">{{ hits.today }}</dd>
      </li>
      <li>
        <dt class="overview-name">Period</dt>
        <dd class="overview-stat">{{ hits.period }}</dd>
      </li>
      <li>
        <dt class="overview-name">Unique</dt>
        <dd class="overview-stat">{{ hits.unique }}</dd>
      </li>
      <li>
        <dt class="overview-name">Repeat</dt>
        <dd class="overview-stat">{{ hits.repeat }}</dd>
      </li>
    </ul>

  </article>

  <article id="annotations">
    <h2>Important Events</h2>
    <ol>
      {% for annotation in annotations %}
      <li class="annotation" title="{{ annotation.title }}">
        <span class="annotation-date">{{ annotation.occurredAt | dateFormat('YYYY-MM-DD')}}</span> -
        {% if annotation.url %}
          <a href="{{ annotation.url }}" target="_blank">
        {% endif %}
        <span class="annotation-title">{{ annotation.title }}</span>: {{ annotation.description }}
        {% if annotation.url %}
          </a>
        {% endif %}
      </li>
      {% endfor %}
    </ol>

    <div id="enter-annotation-container">
      <form id="enter-annotation" method="post" action="/site/{{ hostname }}/annotation">
        <div id='occurredAtContainer'>
          <label for="occurredAt">Date/Time</label>
          <input type="datepicker" name="occurredAt"/>
        </div>
        <div>
          <label for="title">Event</label>
          <input type="string" name="title" />
        </div>
        <div>
          <input type="hidden" name="description" value=""></input>
          <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
          <button type="submit">Add event</button>
        </div>
      </form>
    </div>

  </article>
</section>


<section class="row narrow-left">
  <article class="row-left">
    <h2>Top referrers</h2>
    {% include "partials/_referrers-list.html" %}
  </article>

  <article id="top-pages" class="row-right">
    <h2>Top Pages</h2>
    <nav class="vertical-nav">
      <ul id="page-views">
        {% for page in pageHitsPerPage %}
          {% if page.page != "__all" %}
            <li>
              <a href="{{ root_url }}/path{{ page.page }}"><small>({{ page.hits }})</small> {{ page.page }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </article>

</section>

{% endblock %}


