{% extends "layout.html" %}
{% block title %}Unit tests{% endblock %}

{% block headercss %}
  <link rel="stylesheet" type="text/css" href="lib/mocha/mocha.css" />
  <style>

  body {
    font: 10px sans-serif;
  }

  .bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: #fff;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
</style>
{% endblock %}

{% block body %}
  <div id="mocha"></div>
  <div id="hits-graph"></div>
  <div id="navigation-timing-graph"></div>
  <div id="graph"></div>
{% endblock %}

{% block footerjs %}
  <script src="lib/mocha/mocha.js"></script>
  <script src="lib/chai/chai.js"></script>
  <script src="/src/js/bower_components/d3/d3.js"></script>
  <script src="setup.js"></script>

  <script src="test_bundle.js"></script>
{% endblock %}


