@import "variables";

/* border box everything! */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $font-family;
  font-size: 18px;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}


ul.disc {
  li {
    list-style: disc;
  }
}

/* 
 * wrapper is set to min-height: 100% to allow the footer 
 * to be placed at the bottom of the page.
 */
#wrapper {
  min-height: 100%;
  position: relative;
}


header, footer {
  padding: 1rem 0;

  button {
    background: none;
    border: none;
    line-height: 16px;
    outline: none;
    padding: 0;
  }

  a, button {
    border-bottom: 1px dotted;
    color: $navigation-text-color;
    text-decoration: none;
  }

  a:active, a:hover, a:focus,
  button:hover, button:focus {
    color: $navigation-text-focus-color;
  }

}

header {
  background-color: $header-background-color;
  color: $header-text-color;
  margin-bottom: 1rem;

  nav {
    font-size: 0.8rem;

    .session {
      form {
        display: inline;
      }
    }

  }
}

@media only screen and (max-width: 500px) {
  header {
    nav {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  header {
    nav {
      .session {
        .username {
          display: block;
        }
      }

     ul {
        li {
          a, button {
            border-bottom: none;
            display: block;
            padding: 0.5rem 0;
            text-align: left;
            text-decoration: underline;
            width: 100%;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 700px) {
  header {
    nav {
      line-height: 22px;

      .session {
        .username {
          &:after {
            content: (',');
          }
        }
      }

      ul {
        display: inline;
        > li {
          display: inline;
          margin: 0 0.5rem 0 0;
        }
      }

    }
  }
}

@media only screen and (min-width: 900px) {
  .session {
    float: right;
    display: inline;
  }

  // if session is the only element, no float.
  .session:first-child {
    float: none;
  }
}

footer {
  background-color: $footer-background-color;
  bottom: 0; 
  color: $footer-text-color;
  font-size: 0.8rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  header {
    h1, h2 {
      display: inline-block;
      margin-bottom: 0.25rem;
    }

    h2:before {
      content: '-';
      margin: 0 0.35rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  header {
    h2 {
      font-size: 1.1rem;
    }
  }
}


.horizontal-nav,
.vertical-nav,
.multi-column-nav {
  li {
    > a {
      color: $nav-text-color;
      font-size: 1rem;
      text-decoration: none;
    }

    > a:active, > a:hover, > a:focus, > a.selected {
      background-color: $nav-focus-background-color;
      color: $nav-text-focus-color;
      text-decoration: underline;
    }
  }
}


.horizontal-nav {
  margin-bottom: 3rem;

  > h4 {
    display: inline-block;
    margin-right: 1rem;
  }

  ul, li {
    display: inline-block;
  }

  li {
    margin-right: 0.35rem;
  }
}

.vertical-nav, 
.multi-column-nav {
  margin-left: -1rem;
  li {
    > a {
      display: block;
      font-size: 1rem;
      overflow: hidden;
      padding: 0.3rem 1rem;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > a:active, > a:hover, > a:focus, > a.selected {
      background-color: $nav-focus-background-color;
      color: $nav-text-focus-color;
      text-decoration: underline;
    }
  }
}

.vertical-nav {
  margin-bottom: 3rem;
}

.multi-column-nav {
  li {
    width: 48%;
    display: inline-block;
  }
}

@media only screen and (max-width: 550px) {
  .multi-column-nav {
    li {
      display: block;
      width: auto;

      a {
        padding: 1rem;
      }
    }
  }
}

.referrers li {
  line-height: 1.6;
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .referrers {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}



.no-background-color {
  li {
    > a:active, > a:hover, > a:focus, > a.selected {
      background-color: $nav-background-color;
    }
  }
}

main {
  /* allow the footer to occupy this space */
  padding-bottom: 48px;

  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  section {
    margin-bottom: 4rem;
  }

  label {
    display: inline-block;
    min-width: 10rem;
  }

  form > div {
    margin-bottom: 0.5rem;
  }

  input[type=text], input[type=email] {
    border: 1px solid #999;
    color: #333;
    padding: 0.25rem 0.75rem;
  }

  button {
    border: none;
    border-radius: 5px;
    background-color: $button-background-color;
    color: $button-text-color;
    padding: 10px 25px;

    &:hover, &:focus {
      background-color: $button-focus-background-color;
    }

    &.scary {
      background-color: $button-scary-background-color;
    }
    &.scary:hover, &.scary:focus {
      background-color: $button-scary-focus-background-color;
    }
  }

}

@media only screen and (max-width: 550px) {
  main {
    h1 {
      margin-bottom: 0.5rem;
    }

    section {
      margin-bottom: 1rem;
    }

    input[type=text], input[type=email] {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}

@media only screen and (min-width: 500px) {
  input[type=text], input[type=email] {
    width: 25rem;
    margin-bottom: 0.5rem;
  }
}

.content-width {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

@media only screen and (max-width: 1085px) {
  .content-width {
    width: 90%;
  }
}

.deemphasize {
  color: #c7b5b5;
}

.overview {
  > li {
    > .overview-stat {
      font-size: 3.15rem;
    }

    > .overview-stat.small {
      font-size: 1.7rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  .overview > li {
    display: inline-block;
    margin-bottom: 0.35rem;
    width: 32%;

    > .overview-stat {
      margin-left: 1rem;
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 550px) {
  .overview > li {
    width: 49%;
  }
}


.row {
  clear: both;
}

.row:after {
  clear: both;
  content: ".";
  text-indent: -9999px;
  display: block;
}

@media only screen and (max-width: 700px) {
  .row-left {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 700px) {
  .row {
    margin-bottom: 5rem;
  }

  .row-left, .row-right {
    float: left;
    overflow: hidden;
  }

  .narrow-left {
    padding-left: 300px;

    .row-left {
      width: 250px;
      margin: 0 50px 0 -300px;
      margin-left: -300px;
    }

    .row-right {
      width: 100%;
    }
  }

  .half {
    width: 50%;
  }

  .row-center {
    width: 650px;
    margin: 0 auto;
  }
}



.tooltip {
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  display: none;
  padding: 1em;
  position: absolute;
  z-index: 10;
}

.tooltip-title {
  border-bottom: 1px solid #555;
  margin: 0;
  padding: 0 0 .5em 0;
}

.tooltip-title.noborder {
  border: none;
}

.tooltip-section {
  margin: .5em 0;
}


svg {
  font: 10px sans-serif;
}

path {
    stroke: $line-graph-line-color;
    stroke-width: 1;      /* the line width for paths is 2 pixels */
    fill: none;         /* don't fill the area bounded by any path elements */
}

.axis-label {
  fill: $line-graph-text-color;
  font-size: 0.8em;
}

.axis-label-x {
  -webkit-transform: rotate(70deg) translateX(2.75em) translateY(-1em);
          transform: rotate(70deg) translateX(2.75em) translateY(-1em);
}

.axis path, 
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: $line-graph-axis-color;
  stroke-width: 1;
}

.area {
  fill: $line-graph-fill-color;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.bar-chart {
  .bar.positive {
    fill: steelblue;
  }

  .bar.positive:hover {
    fill: brown;
  }

  .bar.negative {
    fill: brown;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

}

.date-range {
  margin: -1rem 0 1rem 0;

  > .form-row {
    flex: 2 1 auto;

    > input {
      width: 100%;
    }
  }

  > .submit {
    margin: 0;

    > button {
      padding: 0.25rem 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .date-range {
    margin-top: 0;
  }
}

@media only screen and (min-width: 550px) {
  .date-range {
    display: flex;
    flex-direction: row;

    > .form-row {
      flex: 2 1 auto;
      margin-right: 1rem;
      width: 10px;
    }

    > .submit {
      flex: 1 1 auto;
      width: 10px;

      > button {
        margin-top: 20px;
      }
    }
  }
}

#admin {
  button {
    padding: 0.25rem 1rem;
  }

  label {
    display: block;
  }
}

.list-users {
  li {
    margin: 0.5rem 0;

    .email {
      display: inline-block;
      min-width: 25rem;
    }
  }

  margin-bottom: 1rem;
}

@media only screen and (max-width: 550px) {
  .list-users {
    li {
      margin-bottom: 1.5rem;

      .email {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }
}

