@import "variables";

/* border box everything! */
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  font-family: $font-family;
  color: $body-text-color;
  margin: 0;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: $header-footer-background-color;
  color: $header-footer-color;
  padding: 1rem;

  a {
    color: $header-footer-color;
  }

  h1, h2 {
    display: inline-block;
    margin-bottom: 0.75rem;
  }

  h2:before {
    content: '-';
    margin: 0 1rem;
  }

  h3 {
    margin-bottom: .5rem;
  }

  nav li {
    > a {
      color: $navigation-text-color;
      font-size: .8rem;
    }

    > a:active, > a:hover, a:focus {
      color: $navigation-text-focus-color;
    }
  }
}

header {
  margin-bottom: 3rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    padding: 0;
  }
}


#tags {
  margin-bottom: 3rem;

  > h4 {
    display: inline-block;
    margin-right: 1rem;
  }

  ul {
    display: inline-block;
  }

  li {
    > a {
      color: $tags-text-color;
      font-size: 1rem;
      text-decoration: none;
    }

    > a:active, > a:hover, > a:focus {
      border-bottom: 1px dotted;
      color: $tags-text-focus-color;
    }
  }
}

.content-width {
  margin: 0 auto;
  width: 960px;
}

main {
  display: block;
  margin: 0 auto 10rem auto;
}

#overview {
  float: left;
  margin: 0 50px 0 auto;
  width: 175px;
}

.small {
  color: #777;
}

.overview-stat {
  font-size: 2.75em;
}

.row {
  clear: both;
  margin-bottom: 50px;
  display: flex;
}

.row:after {
  clear: both;
  content: ".";
  text-indent: -9999px;
  display: block;
}


.row-left {
  width: 175px;
  float: left;
  margin: 0 50px 0 auto;
}

.row-right {
  float: left;
  width: 600px;
  margin: 0 auto 0 50px;
}

.row-center {
  width: 650px;
  margin: 0 auto;
}

.half {
  width: 50%;
  margin: 0;
}


.tooltip {
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  display: none;
  padding: 1em;
  position: absolute;
  z-index: 10;
}

.tooltip-title {
  border-bottom: 1px solid #555;
  margin: 0;
  padding: 0 0 .5em 0;
}

.tooltip-title.noborder {
  border: none;
}

.tooltip-section {
  margin: .5em 0;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-timing-item {
  margin: .35em 0;
}


svg {
  font: 10px sans-serif;
}

path {
    stroke: steelblue;      /* the line colour for paths is steelblue */
    stroke-width: 2;      /* the line width for paths is 2 pixels */
    fill: none;         /* don't fill the area bounded by any path elements */
}

.axis-label {
  font-size: 0.8em;
}

.axis-label-x {
  transform: rotate(70deg) translateX(2.75em) translateY(-1em);
}

.axis path,
.axis line {
    fill: none;         /* don't fill areas bounded by the axis line */
    stroke: grey;       /* make the axis line grey */
    stroke-width: 1;      /* make the width of the axis lines 1 pixel */
    shape-rendering: crispEdges;/* make the edges sharp */
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}


