body {
  font-family: "Bitstream Vera Sans", "sans-serif", "serif";
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
}

main {
  display: block;
  margin: 0 auto 10em auto;
  width: 960px;
}

#overview {
  float: left;
  margin: 0 50px 0 auto;
  width: 175px;
}

.small {
  color: #777;
}

.overview-stat {
  font-size: 2.75em;
}

.row {
  clear: both;
  margin-bottom: 50px;
  display: flex;
}

.row:after {
  clear: both;
  content: ".";
  text-indent: -9999px;
  display: block;
}


.row-left {
  width: 175px;
  float: left;
  margin: 0 50px 0 auto;
}

.row-right{
  float: left;
  width: 600px;
  margin: 0 auto 0 50px;
}

.row-center {
  width: 650px;
  margin: 0 auto;
}

#navigation-timing {
}


.axis-label {
  font-size: 0.8em;
}

.axis-label-x {
  transform: rotate(70deg) translateX(2.75em) translateY(-1em);
}


.tooltip {
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  display: none;
  padding: 1em;
  position: absolute;
  z-index: 10;
}

.tooltip-title {
  border-bottom: 1px solid #555;
  margin: 0;
  padding: 0 0 .5em 0;
}

.tooltip-title.noborder {
  border: none;
}

.tooltip-section {
  margin: .5em 0;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}
