body {
  font-family: "Bitstream Vera Sans", "sans-serif", "serif";
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: block;
  margin: 0 auto 10em auto;
  width: 960px;
}

section {
  clear: both;
  margin-bottom: 100px;
}

#daily-hits {
  width: 600px;
  margin: 0 auto;
}

#referrers {
  width: 350px;
  float: left;
  clear: none;
}

#top-pages {
  float: right;
  clear: none;
  width: 450px;
}

#navigation-timing {
  clear: both;
}


.axis-label {
  font-size: 0.8em;
}

.axis-label-x {
  transform: rotate(70deg) translateX(2.75em) translateY(-1em);
}


.tooltip {
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  display: none;
  padding: 1em;
  position: absolute;
  z-index: 10;
}

.tooltip-title {
  border-bottom: 1px solid #555;
  margin: 0;
  padding: 0 0 .5em 0;
}

.tooltip-title.noborder {
  border: none;
}

.tooltip-section {
  margin: .5em 0;
}
