<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
  <title>Verify at rum-diary.org</title>
</head>
<body>
  <table>
    <tr>
      <td>
        {{ from_email }} invites you to view
        site statistics for {{ hostname }} on rum-diary.org.
      </td>
    </tr>
    <tr>
      <td>
        Open this link to view site statistics:
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{ verification_url }}">View stats</a>
      </td>
    </tr>
  </table>
</body>
</html>


