{% extends "layout.html" %}
{% block title %}Site list{% endblock %}

{% block header %}
  Site list
{% endblock %}

{% block body %}

<nav class="multi-column-nav content-width">
  <ul>
    {% for hostname in sites %}
      <li>
        <a href="/site/{{ hostname }}">{{ hostname }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<form method="post" action="/user/{{ email }}/site">
  <label for="hostname">Site to measure</label>
  <input type="text" placeholder="site-to-measure.com" name="hostname" required />
  <button>Add site</button>
</form>


{% endblock %}

