{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}

{% block body %}
  Email: {{ email }}

  <h3>Sites</h3>
  <ul>
    {% for site in sites %}
      {% if site.hostname %}
        <li><a href="/site/{{ site.hostname }}">{{ site.hostname }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <form method="post" action="/user/{{ email }}/site">
    <input type="text" placeholder="site-to-measure.com" name="hostname" required />
    <button>Add site</button>
  </form>
{% endblock %}
