{% extends "layout.html" %}
{% block title %}{{ hostname }} Administration{% endblock %}

{% block navigation %}
  <ul>
    <li><a href="/site/">Site list</a></li>
    <li><a href="/site/{{ hostname }}/performance">Performance</a></li>
    <li><a href="/site/{{ hostname }}/demographics">Demographics</a></li>
  </ul>
{% endblock %}

{% block header %}
  {{ hostname }} - Administration
{% endblock %}


{% block body %}
<section class="row">
  <h2>Owner</h2>
  {{ owner }}
</section>

<section class="row">
  <h2>Administrators</h2>
  <ul>
    <li>
      {% if admin_users.length %}
        {% for email in admin_users %}
          <form method="post" action="/site/{{ hostname }}/user">
            {{ email }}
            <input type="hidden" name="email" value="{{ email }}" />
            <input type="hidden" name="_method" value="delete" />
            <button type="submit">Delete</button>
          </form>
        {% endfor %}
      {% else %}
        No administrators
      {% endif %}
    </li>
  </ul>
  <form method="post" action="/site/{{ hostname }}/user">
    <h3>Add administrator</h3>
    <label for="email">Email address</label>
    <input type="email" name="email" placeholder="administrator@domain.com" />
    <input type="hidden" name="access_level" value="ADMIN" />
    <button type="submit">Add</button>
  </form>
</section>

<section class="row">
  <h2>Readonly Users</h2>
  <ul>
    <li>
      {% if readonly_users.length %}
        {% for email in readonly_users %}
          <form method="post" action="/site/{{ hostname }}/user">
            {{ email }}
            <input type="hidden" name="email" value="{{ email }}" />
            <input type="hidden" name="_method" value="delete" />
            <button type="submit">Delete</button>
          </form>
        {% endfor %}
      {% else %}
        No readonly users
      {% endif %}
    </li>
  </ul>
  <form method="post" action="/site/{{ hostname }}/user">
    <h3>Add readonly user</h3>
    <label for="email">Email address</label>
    <input type="email" name="email" placeholder="readonly_user@domain.com" />
    <input type="hidden" name="access_level" value="READONLY" />
    <button type="submit">Add</button>
  </form>
</section>

<section class="row">
  <h2>Delete site</h2>
  <form>
    <button>Are you sure?</button>
  </form>
</section>

{% endblock %}


