{% extends "layout.html" %}
{% block title %}{{ hostname }} - Performance{% endblock %}

{% block header %}
  {{ statName }}
  <span class="small">{{ hostname }} - {{ startDate }} to {{ endDate }}</span>
{% endblock %}


{% block navigation %}
  <ul>
    <li><a href="/site/">Site list</a></li>
    <li><a href="/site/{{ hostname }}">{{ hostname }}</a></li>
    <li><a href="/site/{{ hostname }}/demographics">Demographics</a></li>
    {% if isAdmin %}
    <li><a href="/site/{{ hostname }}/admin">Administration</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block body %}
<nav class="horizontal-nav no-background-color">
  <h4>Events</h4>
  <ul>
    {% for field in navigationTimingFields %}
    <li>
      <a {% if field == statName %} class="selected {% endif %} href="{{ baseURL }}?plot={{ field }}">{{ field }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>


<section class="row">
  <section id="histogram" class="row-left half">
    <h3>Histogram</h3>
    <div id="histogram-graph" data-hostname="{{ hostname }}"></div>
    <ul id="histogram-data">
      {% for value in histogram %}
        <li>{{ value }}</li>
      {% endfor %}
    </ul>
  </section>

  <section id="cdf" class="row-right half">
    <h3>CDF</h3>
    <div id="cdf-graph" data-hostname="{{ hostname }}"></div>
    <table id="cdf-data">
      {% for elapsed, value in cdf %}
        <tr>
          <td class="elapsed-time">{{elapsed}}</td><td class="cdf">{{ value }}</td>
        </tr>
      {% endfor %}
    </table>
  </section>
</section>

<section class="row">
  <section id="navigation-timing" class="row-center">
    <h3>Navigation timing quartiles</h3>

    <div class="navigation-timing-graph" id="navigation-timing-graph"></div>

    <table id="medians">
      {% for key, first_q_value in first_q %}
        {% set second_q_value = second_q[key] %}
        {% set third_q_value = third_q[key] %}
        <tr class="navigation-timing-row">
          <td class="navigation-timing-key">{{key}}</td>
          <td class="navigation-timing-first_q_value">{{first_q_value}}</td>
          <td class="navigation-timing-second_q_value">{{second_q_value}}</td>
          <td class="navigation-timing-third_q_value">{{third_q_value}}</td>
        </tr>
      {% endfor %}
    </table>
  </section>
</section>


{% endblock %}



