{% extends "layout.html" %}
{% block title %}{{ hostname }} info{% endblock %}

{% block inlinecss %}
path {
    stroke: steelblue;      /* the line colour for paths is steelblue */
    stroke-width: 2;      /* the line width for paths is 2 pixels */
    fill: none;         /* don't fill the area bounded by any path elements */
}

.axis path,
.axis line {
    fill: none;         /* don't fill areas bounded by the axis line */
    stroke: grey;       /* make the axis line grey */
    stroke-width: 1;      /* make the width of the axis lines 1 pixel */
    shape-rendering: crispEdges;/* make the edges sharp */
}

{% endblock %}

{% block body %}
<section>
  <h2>{{ hostname }} - 30 day page views per day</h2>
  <div id="hits-graph" data-hostname="{{ hostname }}"></div>
  <table id="hits-data">
    {% for day in pageHitsPerDay %}
      <tr class="hits-data-day">
        <td class="hits-data-date">{{ day.date }}</td>
        <td class="hits-data-hits">{{ day.hits }}</td>
      </tr>
    {% endfor %}
  </table>
</section>

<section>
  <h2>{{ hostname }} - 30 day page views per page</h2>
  <table id="page-views">
    {% for page in pageHitsPerPage %}
      <tr>
        <td>{% if page.page == "__all" %}Total{% else %}{{ page.page }}{% endif %}</td>
        <td>{{ page.hits }}</td>
      </tr>
    {% endfor %}
  </table>
</section>

<section>
  <h2>{{ hostname }} - Top referrers</h2>
  <table id="referrers">
    {% for referrer in referrers %}
      <tr>
        <td>{{ referrer.hostname }}</td>
        <td>{{ referrer.count }}</td>
      </tr>
    {% endfor %}
  </table>
</section>

<section>
  <h2> {{ hostname }} - Navigation Timing median values</h2>
  <div id="navigation-timing-graph"></div>
  <table id="medians">
    {% for key, value in median %}
      <tr class="navigation-timing-row">
        <td class="navigation-timing-key">{{key}}</td>
        <td class="navigation-timing-value">{{value}}</td>
      </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}

{% block footerjs %}
  {% for resource in resources %}<script src="{{ resource }}"></script>
  {% endfor %}
{% endblock %}


