{% extends "layout.html" %}
{% block title %}{{ hostname }} info{% endblock %}

{% block inlinecss %}

  body {
    font: 10px sans-serif;
  }

  .bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: #fff;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

{% endblock %}

{% block body %}
<header>
  <h1>{{ hostname }} - {{ startDate }} to {{ endDate }}</h1>
</header>
<section id="histogram">
  <h2>Histogram of {{ statName }}</h2>
  <div id="histogram-graph" data-hostname="{{ hostname }}"></div>
  <ul id="histogram-data">
    {% for value in histogram %}
      <li>{{ value }}</li>
    {% endfor %}
  </ul>
</section>

{% endblock %}



