{% extends "layout.html" %}
{% block title %}{{ hostname }} info{% endblock %}

{% block inlinecss %}

  body {
    font: 10px sans-serif;
  }

  .bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: #fff;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

{% endblock %}

{% block body %}
<header>
  <h1>{{ hostname }} - {{ startDate }} to {{ endDate }}</h1>
</header>
<section id="cdf">
  <h2>CDF of {{ statName }}</h2>
  <div id="cdf-graph" data-hostname="{{ hostname }}"></div>
  <table id="cdf-data">
    {% for elapsed, value in cdf %}
      <tr>
        <td class="elapsed-time">{{elapsed}}</td><td class="cdf">{{ value }}</td>
      </tr>
    {% endfor %}
  </table>
  <ul>
    {% for field in navigationTimingFields %}
    <li>
      <a href="{{ baseURL }}?plot={{ field }}">{{ field }}</a>
    </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}



