{% extends "layout.html" %}
{% block title %}Site list{% endblock %}

{% block header %}
  Site list
{% endblock %}

{% block body %}

<section>
  <h3>Your sites</h3>
  <nav class="multi-column-nav">
    <ul>
      {% for hostname in sites %}
        <li>
          <a href="/site/{{ hostname }}">{{ hostname }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</section>

<section>
  <h3>Add a new site</h3>
  <form method="post" action="/user/{{ email }}/site">
    <div>
      <label for="hostname">Site to measure</label>
      <input type="text" placeholder="site-to-measure.com" name="hostname" required />
    </div>
    <button>Add site</button>
  </form>
</section>


{% endblock %}

