{% extends "layout.html" %}
{% block title %}{{ hostname }} info{% endblock %}

{% block navigation %}
  <ul>
    <li><a href="/site/">Site list</a></li>
    <li><a href="/site/{{ hostname }}/performance">Performance</a></li>
    <li><a href="/site/{{ hostname }}/demographics">Demographics</a></li>
  </ul>
{% endblock %}

{% block header %}
  {{ hostname }} - {{ startDate }} to {{ endDate }}
{% endblock %}


{% block body %}
  <!--
  {% if tags.length %}
    <nav class="horizontal-nav">
      <h4>Tags</h4>
      <ul>
        <li><a href="{{ root_url }}">None</a></li>
        {% for tag in tags %}
          <li><a href="{{ root_url }}?tags={{ tag }}">{{ tag }}</a></li>
          <li><a href="{{ root_url }}?tags=!{{ tag }}">!{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  -->

<section class="row narrow-left">
  <article id="overview" class="row-left">
    <h2>Overview</h2>
    <ul class="overview">
      <li>
        <dt class="overview-name deemphasize">Total</dt>
        <dd class="overview-stat">{{ hits.total }}</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Today</dt>
        <dd class="overview-stat">{{ hits.today }}</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Period</dt>
        <dd class="overview-stat">{{ hits.period }}</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Unique</dt>
        <dd class="overview-stat">{{ hits.unique }}</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Repeat</dt>
        <dd class="overview-stat">{{ hits.repeat }}</dd>
      </li>
    </ul>

  </article>

  <article id="daily-hits" class="row-right">
    <h2>Daily hits</h2>
    <form method="get" action="/site/localhost">
      <div>
        <label for="start">Start date</label>
        <input type="date" name="start" value="{{ startDateYYYYMMDD }}" />
      </div>
      <div>
        <label for="end">End date</label>
        <input type="date" name="end" value="{{ endDateYYYYMMDD }}" />
      </div>
      <button>Update</button>
    </form>

    <div id="hits-graph" data-hostname="{{ hostname }}"></div>
    <table id="hits-data">
      {% for day in pageHitsPerDay %}
        <tr class="hits-data-day">
          <td class="hits-data-date">{{ day.date }}</td>
          <td class="hits-data-hits">{{ day.hits }}</td>
        </tr>
      {% endfor %}
    </table>
  </article>
</section>


<section class="row narrow-left">
  <article id="referrers" class="row-left">
    <h2>Top referrers</h2>
    <ul>
      {% for referrer in referrers %}
        <li><small>({{ referrer.count }})</small> {{ referrer.hostname }}</li>
      {% endfor %}
    </ul>
  </article>

  <article id="top-pages" class="row-right">
    <h2>Top Pages</h2>
    <nav class="vertical-nav">
      <ul id="page-views">
        {% for page in pageHitsPerPage %}
          {% if page.page != "__all" %}
            <li>
              <a href="{{ root_url }}/path{{ page.page }}"><small>({{ page.hits }})</small> {{ page.page }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </article>

</section>

{% endblock %}


