{% extends "layout.html" %}
{% block title %}{{ hostname }} info{% endblock %}

{% block navigation %}
  <ul>
    <li><a href="/site/{{ hostname }}">{{ hostname }}</a></li>
    <li><a href="/site/{{ hostname }}/performance">Performance</a></li>
  </ul>
{% endblock %}

{% block body %}
<header>
  <h1>{{ hostname }} Demographics - {{ startDate }} to {{ endDate }}</h2>
</header>

<section>
  Browser, OS, mobile vs tablet vs desktop stats go here.

  <h2>Browser breakdown</h2>
  <div id="browsers-graph"></div>

  <table id="browsers-data">
    {% for browser, count in browsers %}
      <tr class="browsers-data-item">
        <td class="browsers-data-browser">{{ browser }}</td>
        <td class="browsers-data-count">{{ count }}</td>
      </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}


