{% extends "layout.html" %}
{% block title %}Signin{% endblock %}

{% block headerjs %}
  <script type="text/javascript" src="https://login.persona.org/include.js"></script>
{% endblock %}

{% block body %}
  <form id="signin" method="post" action="/session">
    <input required type="hidden" name="assertion" />
    <button>Sign In</button>
  </form>

  &mdash; or &mdash;

  <form id="signup" method="post" action="/user">
    <label for="real_name">Real name</label>
    <input required type="text" name="name" />
    <input required type="hidden" name="assertion" />
    <button>Sign Up</button>
  </form>
{% endblock %}
