{% extends "layout.html" %}
{% block title %}{{ hostname }} info{% endblock %}

{% block navigation %}
  <ul>
    <li><a href="/site/">Site list</a></li>
    <li><a href="/site/{{ hostname }}">{{ hostname }}</a></li>
  </ul>
{% endblock %}

{% block header %}
  {{ hostname }}{{ path }} - {{ startDate }} to {{ endDate }}
{% endblock %}

{% block body %}
<section class="row">
  <article id="overview" class="row-left">
    <h2>Overview</h2>
    <ul class="overview">
      <li>
        <dt class="overview-name deemphasize">Total</dt>
        <dd class="overview-stat">{{ hits.total }}</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Today</dt>
        <dd class="overview-stat">{{ hits.today }}</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Period</dt>
        <dd class="overview-stat">{{ hits.period }}</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Unique</dt>
        <dd class="overview-stat">{{ hits.unique }}</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Repeat</dt>
        <dd class="overview-stat">{{ hits.repeat }}</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Exit Rate</dt>
        <dd class="overview-stat">{{ hits.exitRate }}%</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Bounce Rate</dt>
        <dd class="overview-stat">{{ hits.bounceRate }}%</dd>
      </li>
      <li>
        <dt class="overview-name deemphasize">Median Read Time</dt>
        <dd class="overview-stat small">{{medianReadTime.hours}}:{{ medianReadTime.minutes }}:{{ medianReadTime.seconds }}</dd>
      </li>
    </ul>

  </article>

  <article class="row-right">
    <h2>Daily hits</h2>
    <div id="hits-graph"></div>
    <table id="hits-data">
      {% for day in pageHitsPerDay %}
        <tr class="hits-data-day">
          <td class="hits-data-date">{{ day.date }}</td>
          <td class="hits-data-hits">{{ day.hits }}</td>
        </tr>
      {% endfor %}
    </table>
  </article>
</section>

<section class="row">
  <article class="row-left">
    <h2>Top referrers</h2>
    <dl id="referrers">
      {% for referrer in referrers %}
        <dt class="referrers-hostname">{{ referrer.hostname }}</dt>
        <dd class="referrers-count deemphasize">{{ referrer.count }}</dd>
      {% endfor %}
    </dl>
  </article>

  <div class="row-right">
    <article>
      <h2>Enter from</h2>
      <dl id="page-views">
        {% for page, count in internalTransfer.from %}
          <dt class="hits-path"><a href="/site/{{ hostname }}/path{{ page }}">{{ page }}</a></dt>
          <dd class="hits-count deemphasize">{{ count }}</dd>
        {% endfor %}
      </dl>
    </article>

    <article>
      <h2>Exit to</h2>
      <dl id="page-views">
        {% for page, count in internalTransfer.to %}
          <dt class="hits-path"><a href="/site/{{ hostname }}/path{{ page }}">{{ page }}</a></dt>
          <dd class="hits-count deemphasize">{{ count }}</dd>
        {% endfor %}
      </dl>
    </article>
  </div>
</section>


{% endblock %}

