<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
  <title>RUM Diary - {% block title %}{% endblock %}</title>
  <link href="/en/vera-regular/fonts.css" type="text/css" rel="stylesheet" />
  <link href="{{ "/css/normalize.css" | cachify }}" type="text/css" rel="stylesheet" />
  <link href="{{ "/js/bower_components/pikaday/css/pikaday.css" | cachify }}" type="text/css" rel="stylesheet" />
  <link href="{{ "/css/main.css" | cachify }}" type="text/css" rel="stylesheet" />
  {% block headercss %}
  {% endblock %}
  {% block headerjs %}
  {% endblock %}
</head>
<body>
  <div id="wrapper">
    <header>
      <div class="content-width">
        <h1>rum-diary.org</h1><h2>Metrics with ethics</h2>

        <nav class="header-nav">
          <ul>
          {% block navigation %}
          {% endblock %}
            <li class="session">
              {% if email %}
                <a class="username" href="/user/{{ email }}">{{ email }}</a>
                <form method="post" action="/session">
                  <input type="hidden" name="_method" value="delete" />
                  <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
                  <button>Sign out</button>
                </form>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="content-width">
      <h1>{% block header %}{% endblock %}</h1>
      {% block body %}
        We need a body!
      {% endblock %}
    </main>

    <footer>
      <div class="content-width">
        By <a href="https://shanetomlinson.com/" target="_blank">Shane Tomlinson</a> -
        Source available on
        <a href="https://github.com/shane-tomlinson/rum-diary.org" target="_blank">GitHub</a>.
      </div>
    </footer>
  </div>
  <script defer src="/include.js" data-tags="zopfli,cache"></script>
  {% block footerjs %}
    {% for resource in resources %}<script src="{{ resource | cachify }}"></script>
    {% endfor %}
  {% endblock %}
</body>
</html>


