<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
  <title>RUM Diary - {% block title %}{% endblock %}</title>
  <link href="/en/vera-regular/fonts.css" type="text/css" rel="stylesheet" />
  <link href="/css/main.css" type="text/css" rel="stylesheet" />
  {% block headercss %}
  {% endblock %}
  <style>
  {% block inlinecss %}
  {% endblock %}
  </style>
</head>
<body>
  <main>
    {% block body %}
      We need a body!
    {% endblock %}
  </main>
<script defer src="/include.js" data-tags="experimental,zopfli"></script>
{% block footerjs %}
{% endblock %}
</body>
</html>


