<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
  <title>RUM Diary - {% block title %}{% endblock %}</title>
  <link href="/en/vera-regular/fonts.css" type="text/css" rel="stylesheet" />
  <style>
    body {
      font-family: "Bitstream Vera Sans", "sans-serif", "serif"
    }
  </style>
  {% block headercss %}
  {% endblock %}
  <style>
  {% block inlinecss %}
  {% endblock %}
  </style>
</head>
<body>
{% block body %}
  We need a body!
{% endblock %}
<script defer src="/include.js"></script>
{% block footerjs %}
{% endblock %}
</body>
</html>


